.venv/
__pycache__/
*.py[cod]
.vscode/
.sonarlint/

output/
.pytest_cache/
.mypy_cache/
.ruff_cache/

/settings.json


.coverage
nuitka-crash-report.xml
src/views/ui/main_window_ui.py
main.exe

/analyze.ps1
*.txt
